# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Vector databases and generated indexes
vector_db/
*.faiss
*.pkl

# Raw uploaded user files
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml